<body>


  <div class="row" style="margin-bottom: 5px;">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a class="active" id="searchByNameId">Search By Name</a></li>
        <li class="tab col s6"><a>Search By Tag</a></li>
      </ul>
    </div>
  </div>


    <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" required onkeyup="filter()">
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons" onclick="clearSearch()">close</i>
        </div>
      </form>
    </div>
  </nav>


    <div class="content" id="content">
    </div>
    <div class="card horizontal" id="cardtemplate" style="display:none">
      <div class="card-image">
        <img class="companyLogo ImageFixDem" src="images/logos/facebook.png" style="width: 150px; height: 150px;">
      </div>
      <div class="card-stacked">
        <div class="card-content companyInfo">
          <a class="fav favButton" id="favid" href="javascript:void(0)" onclick="return addtoFav(this);" title="Favorite">☆</a>
          <a class="removalButton" id="removeid" href="javascript:void(0)" onclick="return markRemoval(this);" title="Mark For Removal"><i class="material-icons">error_outline</i></a>
          <a class="hideButton" id="hideid" href="javascript:void(0)" onclick="return hideCardU(this);" title="Hide Card"><i class="material-icons">visibility_off</i></a>
          <a class="updateButton" id="updateid" href="javascript:void(0)" onclick="return updateCard(this);" title="Update Card"><i class="material-icons">mode_edit</i></a>
          <h5 class="companyName"></h5>
          <p class="companyDescription"></p>
        </div>
        <div onclick="return applyAction(this);">
        <a class="waves-effect waves-light btn applyButton blue" href="" target="_blank" >Apply</a>
        </div>

        <div class="card-action tagsdiv">
            <ul class='tags'>
            </ul>
        </div>
    </div>
    </div>

    <div class="fixed-action-btn horizontal" style="right: 10%; bottom: 10%">
    <a class="btn-floating btn-large red lighten-1 tooltipped" data-position="top" data-delay="50" data-tooltip="Sort">
      <i class="large material-icons">sort_by_alpha</i>
    </a>
    <ul>
      <li><a class="btn-floating deep-purple lighten-1" href="javascript:void(0)" onclick="return sortByAlpha(this)" title="Sort By Alphabet"><i class="material-icons">sort_by_alpha</i></a></li>
      <li><a class="btn-floating light-green accent-4" href="javascript:void(0)" onclick="return sortByDate(this)" title="Sort By Deadline"><i class="material-icons">schedule</i></a></li>
      <li><a class="btn-floating amber darken-4" href="javascript:void(0)" onclick="return sortByClick(this)" title="Sort By Trending"><i class="material-icons">trending_up</i></a></li>

    </ul>
    </div>

    <a href="#top" id="backToTop">Back To Top</a> 

    <script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
    $('ul.tabs').tabs();
    });
    </script>
    <script type="text/javascript" src="../scripts/main.js"></script>
</body>