<body>
    <div class="content" id="content">
    </div>
    <div class="card" id="cardtemplate" style="display:none">
            <div class="companyLogo"></div>
            <div class="companyInfo">
                <span class="companyName"> </span>
                <span class="deadline"> </span>
                <span class="description"></span>
                <div class="Apply"> </div>
            </div>
            <div class="tagsdiv">
                <ul class='tags'>
                </ul>
            </div>
            <!--<a class="calendarlink" href="#"></a>-->
            <a class="fav" id="favid" href="javascript:void(0)" onclick="return addtoFav(this);">fav</a>
    </div>
    <script type="text/javascript" src="../scripts/main.js"></script>
</body>