<head>
    <link rel="stylesheet" type="text/css" href="styles/form.css">
</head>
<body class="body-header">
  <div class="row">
    <form class="col s12">
      <h3 class="center">Suggestion Form</h3>
      <div class="row">
        <div class="input-field col s6">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name*</label>
        </div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email*</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="company_name" type="text" class="validate">
          <label for="company_name">Company Name*</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="deadline" type="date" class="datepicker">
          <label>Deadline</label>
        </div>
      </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="location" type="text">
          <label >Location</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <input id="urllink" type="url" class="validate">
          <label >URL*</label>
        </div>
    </div>
    <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea" length="200"></textarea>
            <label for="description">Description</label>
          </div>
    </div>
    <div>
    <p class = "center">
      <input type="checkbox" id="javaCB"/>
      <label for="javaCB">Java</label>
      <input type="checkbox" id="cppCB"/>
      <label for="cppCB">C++</label>
      <input type="checkbox" id="javascriptCB"/>
      <label for="javascriptCB">Javascript</label>
      <input type="checkbox" id="pythonCB"/>
      <label for="pythonCB">Python</label>
      <input type="checkbox" id="csCB"/>
      <label for="csCB">C#</label>
      <input type="checkbox" id="cCB"/>
      <label for="cCB">C</label>
    </p>
    </div>

    </form>
  </div>
  <div class="button-container">
    <button type="button" class="button" onclick="addSuggest()"><span>Submit</span></button>
  </div>
</div>
    <script>
     $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
    });
    </script>
    <script src="../scripts/form.js"></script>
</body>