<head>
    <link rel="stylesheet" type="text/css" href="styles/form.css">
</head>
<body>
    <div class="content2" id="content">
    </div>    
    <div class="container">
  <form>
    <h1>Suggestion Form</h1> 
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Name*</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Email*</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Company Name*</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">URL*</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Deadline(MM/DD/YY)</label><i class="bar"></i>
    </div>
    <div class="form-group">
      <input type="text" required="required"/>
      <label for="input" class="control-label">Locations</label><i class="bar"></i>
    </div>

    <div class="form-group">
      <textarea required="required"></textarea>
      <label for="textarea" class="control-label">Description</label><i class="bar"></i>
    </div>
    
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> C++
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Java
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Python
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> C#
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> C
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> HTML5/CSS
      </label>
    </div>
        <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Javascript
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Linux
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Bash
      </label>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox"/><i class="helper"></i> Swift
      </label>
    </div>
  </form>
  <div class="button-container">
    <button type="button" class="button" onclick="sendEmail()"><span>Submit</span></button>
  </div>
</div>
    <script src="../scripts/form.js"></script>
</body>