<body>
    <div class="content" id="hide_content">
    </div>
    <div class="card horizontal" id="cardtemplate" style="display:none">
      <div class="card-image">
        <img class="companyLogo ImageFixDem" src="images/logos/facebook.png" style="width: 150px; height: 150px;">
      </div>
      <div class="card-stacked">
        <div class="card-content companyInfo">
          <a class="hideButton" id="hideid" href="javascript:void(0)" onclick="return showHidden(this);" title="Unhide Card"><i class="material-icons">visibility</i></a>
          <h5 class="companyName"></h5>
          <p class="companyDescription"></p>
        </div>
        <div class="card-action tagsdiv">
            <ul class='tags'>
            </ul>
        </div>
    </div>
  </div>
<script type="text/javascript" src="../scripts/hide.js"></script>
</body>