<head>
    <link rel="stylesheet" type="text/css" href="../styles/googlebtn.css">
<head>    
<body>
    <div class="content" id="content">
        <div class="card" id="cardtemplate">
            <div id="googleLoginBtn" style="display: none;position: relative; top: 37%; left: 40%">
                <img id="googleLoginImg" src="../images/logos/btn_google_signin_dark_normal_web@2x.png">
            </div>
            <button id="SignOutButton"type="button" style="display:none; position: relative; top: 37%; left: 40%">Logout</button>
        </div>
    </div>

    <script src="../scripts/app.js"></script>
</body>
