<html>

<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <title>InternWebApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<meta name="description" content="Progressive WebApp used to find internship">-->
    <!--<meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="images/icons/icon-152x152.png">
    <meta name="msapplication-TileImage" content="images/icons/icon-144x144.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">-->
    <link rel="manifest" href="../manifest.json">
    <link rel="stylesheet" type="text/css" href="../styles/main.css">
    <!--button css-->
    
    <meta name="google-signin-client_id" content="539619981513-90cihnui62tlcgetpkcfkokle3jvrm3g.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>

</head>

<body class="body-header">
    <div class="header">
        <div class="headerleft">
            <img src="../images/icons/icon-144x144.png" height="75px" width="75px">
        </div>
        <div class="icon" id="iconid">
            <a href="javascript:void(0);" style="font-size:1.5em;" onclick="openNav()">☰</a>
        </div>
        <div class="headerright" id="mySidenav">
            <ul class="headernavlist" id="navHeaderList">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <li><a href="/">Internships</a></li>
                <li><a href="#resouces">Resources</a></li>
                <li><a href="#suggest">Suggest</a></li>
                <li><a href="views/login.html">Login</a></li>
                <li><a href="#about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="content" id="content">
        <div class="card" id="cardtemplate">
            <div id="googleLoginBtn" style="position: relative; top: 37%; left: 40%">Google Login</button>
            <script>
        function renderButton() { gapi.signin2.render('googleLoginBtn', { 'width': 240, 'height': 50, 'longtitle':
true, 'theme': 'dark' }); }
    </script>
        </div>
    </div>


    <!--FIREBASE SDK JS-->
    <script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
    <script src="../scripts/app.js"></script>

    
</body>

</html>