<body>
    <div class="content" id="resource_content">
    </div>

      <div class="col s12 m7">
    <h2 class="header">Introduction to Algorithms</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/icons/CLRS.jpeg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Some books on algorithms are rigorous but incomplete; others cover masses of material but lack rigor. Introduction to Algorithms uniquely combines rigor and comprehensiveness. The book covers a broad range of algorithms in depth, yet makes their design and analysis accessible to all levels of readers. Each chapter is relatively self-contained and can be used as a unit of study. The algorithms are described in English and in a pseudocode designed to be readable by anyone who has done a little programming. The explanations have been kept elementary without sacrificing depth of coverage or mathematical rigor.</p>
        </div>
        <div class="card-action">
          <a href="https://www.amazon.com/Introduction-Algorithms-3rd-MIT-Press/dp/0262033844" target="_blank">Buy it now on Amazon</a>
        </div>
      </div>
    </div>
  </div> 

        <div class="col s12 m7">
    <h2 class="header">Crack the Coding Interview</h2>
    <div class="card horizontal">
      <div class="card-image">
        <img src="images/icons/CTCI.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Cracking the Coding Interview gives you the interview preparation you need to get the top software developer jobs. This is a deeply technical book and focuses on the software engineering skills to ace your interview. The book is over 500 pages and includes 189 programming interview questions and answers, as well as other advice. </p>
        </div>
        <div class="card-action">
          <a href="https://www.amazon.com/Cracking-Coding-Interview-Programming-Questions/dp/0984782850" target="_blank">Buy it now on Amazon</a>
        </div>
      </div>
    </div>
  </div> 

</body>