<body>
    <div class="content" id="user_content">
    </div>
    <div class="card horizontal" id="cardtemplate" style="display:none">
      <div class="card-image">
        <img class="companyLogo ImageFixDem" src="images/logos/facebook.png" style="width: 150px; height: 150px;">
      </div>
      <div class="card-stacked">
        <div class="card-content companyInfo">
          <a class="fav favButton" id="favid" href="javascript:void(0)" onclick="return addtoFav(this);" title="Favorite">☆</a>
          <a class="removalButton" id="removeid" href="javascript:void(0)" onclick="return markRemoval(this);" title="Mark For Removal"><i class="material-icons">error_outline</i></a>
          <h5 class="companyName"></h5>
          <p class="companyDescription"></p>
        </div>
        
        <div onclick="return applyAction(this);">
        <a class="waves-effect waves-light btn applyButton blue" href="" target="_blank" >Apply</a>
        </div>

        <div class="card-action tagsdiv">
            <ul class='tags'>
            </ul>
        </div>
    </div>
  </div>

  <div class="fixed-action-btn horizontal" style="right: 10%; bottom: 10%">
    <a class="btn-floating btn-large red tooltipped" data-position="top" data-delay="50" data-tooltip="More Options">
      <i class="large material-icons">mode_edit</i>
    </a>
    <ul>
      <li><a class="btn-floating blue tooltipped" href="javascript:void(0)" onclick="return LoadForm(this)" data-position="top" data-delay="50" data-tooltip="Suggest New Company"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating yellow darken-1 tooltipped" href="javascript:void(0)" onclick="return LoadHidden(this)" data-position="top" data-delay="50" data-tooltip="View Hidden Cards"><i class="material-icons">visibility</i></a></li>
    </ul>
  </div>
  <script>
    $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });
  </script>
    <script type="text/javascript" src="../scripts/user.js"></script>
</body>