/*This is the main css file for all the styles*/


/* NAVBAR STYLING*/

.headernavlist {
    display: inline-block;
}

ul.headernavlist {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.headernavlist {
    float: right;
    margin-top: 15px;
}

ul.headernavlist li {
    display: inline-block;
}

ul.headernavlist li a,
.icon a,
.headernavlist .closebtn {
    font-family: 'ceragr-bolduploaded_file', Arial, sans-serif;
    font-weight: 600;
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    color: #9c9d9f;
    text-transform: uppercase;
    font-size: 1.1em;
}

.headerleft {
    float: left;
}

.bodyclass {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 2%;
}

.bodyclass {
    background-color: #f7f7f7;
}

ul.headernavlist li a:hover {
    color: #00BCD4;
}

.icon {
    display: none;
}

.headernavlist .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    display: none;
}

@media screen and (max-width: 1000px) {
    .headernavlist {
        display: none;
    }
    .icon {
        display: inline;
    }
    .headernavlist .closebtn {
        display: block;
    }
    .headerleft {
        float: right;
    }
    .headerright ul {
        padding-left: 100px;
    }
    .headerright.navBarOpen {
        height: 100%;
        width: 28%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
        float: left;
    }
}

@media screen and (max-width: 480px) {
    ul.headernavlist li a,
    .icon a,
    .headernavlist .closebtn {
        font-size: .75em;
    }
    .bodyclass {
        margin-left: 0%;
        margin-right: 4%;
        margin-top: 2%;
    }
}


/* END NAVBAR STYLING */


/* BEGIN CARD STYLING */


/* END CARD STYLING */