#googleLoginBtn {
  display: inline-block;
  /*background-image: url('../images/logos/btn_google_signin_dark_normal_web@2x.png');*/
  width: 380px;
  height: 92px;
}


#googleLoginImg:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-filter: drop-shadow(5px 15px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}

#googleLoginImg{
  height: 60px;
}

#SignOutButton{
  height: 60px;
  width: 240px;
}

#SignOutButton:hover {
  cursor: pointer;
  transition: all 0.3s ease 0s;
  -webkit-filter: drop-shadow(5px 15px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}