#googleLoginBtn {
      display: inline-block;
      /*background: #4285f4;*/
      background: white;
      color: white;
      width: 190px;
      /*border-radius: 5px;*/
      white-space: nowrap;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    #googleLoginBtn:hover {
      cursor: pointer;
    }
    span.label {
      font-weight: bold;
    }
    span.icon {
      background: url('../images/logos/g-normal.png') transparent 5px 50% no-repeat;
      display: inline-block;
      vertical-align: middle;
      width: 42px;
      height: 42px;
      /*border-right: #2265d4 1px solid;*/
    }
    span.buttonText {
      display: inline-block;
      vertical-align: middle;
      padding-left: 42px;
      padding-right: 42px;
      font-size: 14px;
      /*font-weight: bold;*/
      /* Use the Roboto font that is loaded in the <head> */
      font-family: 'Roboto', sans-serif;
      color: darkgray;
    }