    /*This is the main css file for all the styles*/
    /* NAVBAR STYLING*/
    
    .header {
        clear: both;
        height: 10%;
        width: 100%;
        left: 0;
        margin-bottom: 10px;
        padding-top: 20;
        position: fixed;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.60);
        top: 0;
    }
    
    .headerright {
        padding-right: 15%;
    }
    
    .headerleft {
        padding-left: 16%;
    }
    
    .headernavlist {
        display: inline-block;
    }
    
    ul.headernavlist {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
    ul.headernavlist {
        float: right;
        margin-top: 15px;
    }
    
    ul.headernavlist li {
        display: inline-block;
    }
    
    ul.headernavlist li a,
    .icon a,
    .headernavlist .closebtn {
        font-family: 'ceragr-bolduploaded_file', Arial, sans-serif;
        font-weight: 600;
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        transition: 0.3s;
        color: #d2d4d8;
        text-transform: uppercase;
        font-size: 1.1em;
    }
    
    .headerleft {
        float: left;
    }
    
    .body-header {
        margin-left: 16%;
        margin-right: 16%;
        margin-top: 2%;
        background-color: #f7f7f7;
    }
    
    ul.headernavlist li a:hover {
        color: #00BCD4;
    }
    
    .icon {
        display: none;
    }
    
    .headernavlist .closebtn {
        position: absolute;
        top: 12px;
        right: 20px;
        font-size: 36px;
        margin-left: 60px;
        display: none;
    }
    /* END NAVBAR STYLING */
    /* BEGIN CARD STYLING */
    
    .card {
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        height: 18%;
        background-color: #FFF;
        font-family: 'Roboto', sans-serif;
        margin-top: 10px;
        position: relative;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 4 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
        border-radius: 3px;
    }
    
    .card .companyLogo {
        /*border: solid black 1px;*/
        float: left;
        height: 100%;
        width: 17%;
        background-size: 85% 100%;
        background-repeat: no-repeat;
        position: relative;
        left: 10px;
    }
    
    .card .companyName {
        padding-top: 1%;
        padding-left: 3%;
        font-size: 26px;
        color: #111;
        font-weight: 500;
        height: 70%;
        width: 79.7%;
        position: absolute;
        /*border: solid red 1px;*/
    }
    
    .card .tagsdiv {
        padding-left: 1%;
        color: #111;
        font-weight: 400;
        width: 81.68%;
        height: 20%;
        position: absolute;
        /* border: solid green 1px;*/
        float: right;
        bottom: 2%;
        left: 17.1%;
        overflow: hidden;
    }
    
    .tags {
        list-style: none;
        margin: 0;
        overflow: hidden;
        padding: 5;
    }
    
    .tags li {
        float: left;
    }
    
    .tag {
        background: #eee;
        border-radius: 3px 0 0 3px;
        color: #999;
        display: inline-block;
        height: 26px;
        line-height: 26px;
        padding: 0 20px 0 23px;
        position: relative;
        margin: 0 10px 10px 0;
    }
    
    .tag::before {
        background: #fff;
        border-radius: 10px;
        content: '';
        height: 6px;
        left: 10px;
        width: 6px;
        top: 10px;
        position: absolute;
    }
    
    .tag::after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }
    /* END CARD STYLING */
    
    .content {
        padding-top: 7%;
    }
    /*TAG STYLES*/
    
    @media screen and (max-width: 1150px) {
        .headernavlist {
            display: none;
        }
        .icon {
            display: inline;
        }
        .headernavlist .closebtn {
            display: block;
        }
        .headerleft {
            float: right;
            padding-right: 10px;
        }
        .headerright ul {
            padding-left: 100px;
        }
        .headerright.navBarOpen {
            height: 100%;
            width: 29%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            float: left;
        }
        .card .companyLogo {
            width: 21%;
            background-size: 100% 86%;
            left: 5;
            top: 10;
        }
        .card .tagsdiv {
            width: 73.4%;
            left: 22%;
        }
        .content {
            padding-top: 16%;
        }
    }
    
    @media screen and (max-width: 768px) {
        .header {
            width: 100%;
            height: 10%;
        }
        ul.headernavlist li a,
        .icon a {
            font-size: 75%;
        }
        .headernavlist .closebtn {
            font-size: 225%;
            font-weight: bold;
        }
        .body-header {
            margin-left: 2%;
            margin-right: 2%;
            margin-top: 2%;
        }
        .card .companyLogo {
            width: 25%;
            background-size: 100% 86%;
            left: 5;
            top: 10;
        }
        .card .tagsdiv {
            width: 73.4%;
            left: 25%;
            bottom: 7%;
        }
        .card .companyName {
            top: 9;
            width: 71.5%;
            font-size: 22px;
        }
        .tag {
            background: #eee;
            border-radius: 3px 0 0 5px;
            color: #999;
            display: inline-block;
            height: 20px;
            line-height: 20px;
            padding: 0 17px 0 17px;
        }
        .tag::before {
            background: #fff;
            border-radius: 10px;
            height: 5px;
            left: 8px;
            width: 5px;
            top: 8px;
        }
        .tag::after {
            background: #fff;
            border-bottom: 10px solid transparent;
            border-left: 8px solid #eee;
            border-top: 10px solid transparent;
            content: '';
            position: absolute;
            right: 0;
            top: 0;
        }
        .content {
            padding-top: 25%;
        }
    }


.fav{
    float: right;
    margin-right: 10px;
    margin-top: 4px;
    z-index:9999;
    position: relative;
    font-size: 40px;
    text-decoration: none;
    color: #d81128;
    font-weight: bold;
}

.hide{
    float: right;
    margin-right: 20px;
    /*margin-top: 1px;*/
    z-index:9999;
    position: relative;
    font-size: 40px;
    text-decoration: none;
    color: #111;
    font-weight: bold;
}

.fixedbutton {
    position: fixed;
    bottom: 10%;
    right: 10%;
     
}
